
  <div class="col-xs-3"></div>
    <div class="col-lg-6">
      <h1><b>Phimosis Stretches</b></h1>
  
      <p class="lead">Phimosis Stretches is an app that helps you cure your Phimosis on your own using a variety of stretch exercises. The hardest part of curing phimosis on your own is performing the correct workouts, performing workouts for the correct amount of time for you and remembering to do the workouts consistently, this app solves those issues. 
        <br><br>
        By enabling you to set up customised reminders, having full control over workout settings and manging workout times for you, all you have to do is perform the stretches.
        <br><br>
        Furthermore, you can find information on different stretches you can perform so you can make progress every day to curing your phimosis.</p>
  
      <a href="https://apps.apple.com/app/phimosis-stretcher/id1513978220" target="_blank">
        <img src="../assets/app-store-button.svg" height="75px" width="150px">
      </a>
    </div>
  <div class="col-xs-3"></div>