<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <style>
                [STYLE]
                </style>
            </head>
    
    <body>
        
        <center><h2>Icons</h2></center>
        
        <ul style="list-style: none;">
            <b>Stretches Icon</b>

            <img src="[STRETCHES_IMAGE]" alt="stretch-icon" height="42" width="42">
            <li>
                <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </li>
            <b>Stopwatch Icon</b>
            <li>
                <div>Icons made by <a href="https://www.flaticon.com/free-icon/stopwatch_1165201?term=stopwatch&page=7&position=88" title="mavadee">mavadee</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </li>
            <b>Settings Icon</b>
            <li>
                <div>Icons made by <a href="http://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </li>
            <b>Close Icon</b>
            <li>
                <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </li>
        </ul>
        
        <br/>
        
        <center><h2>Images</h2></center>
        
        <ul style="list-style: none;">
            <b>Notifications Image</b>
            <li>
                <div><a href="https://www.freepik.com/free-photos-vectors/calendar">Calendar vector created by stories - www.freepik.com</a></div>
            </li>
            <b>Workout Complete Image</b>
            <li>
                <div><a href="https://www.freepik.com/free-photos-vectors/sport">Sport vector created by stories - www.freepik.com</a></div>
            </li>
            <b>Lost Image</b>
            <li>
                <div><a href="https://www.freepik.com/free-photos-vectors/travel">Travel vector created by stories - www.freepik.com</a></div>
            </li>
        </ul>
        
    </body>
</html>
